In [3]:
import pandas as pd

In [79]:
divvy_tripdata = pd.read_csv('divvy_tripdata.csv')

In [6]:
divvy_tripdata

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719872,F74DF9549B504A6B,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874702,-87.649804,41.874640,-87.657030,casual
5719873,BCDA66E761CC1029,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,casual
5719874,D2CF330F9C266683,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member
5719875,3829A0D1E00EE970,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,Damen Ave & Madison St,13134,Morgan St & Lake St*,chargingstx4,41.881396,-87.674984,41.885492,-87.652289,casual
5719876,A373F5B447AEA508,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member

In [7]:
divvy_tripdata.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

# ensure each row of data is from the same day

In [8]:
# Convert columns to datetime
divvy_tripdata['started_at'] = pd.to_datetime(divvy_tripdata['started_at'])
divvy_tripdata['ended_at'] = pd.to_datetime(divvy_tripdata['ended_at'])

In [9]:
# Extract date part and compare
divvy_tripdata['same_day'] = divvy_tripdata['started_at'].dt.date == divvy_tripdata['ended_at'].dt.date

In [10]:
divvy_tripdata['same_day']

0          True
1          True
2          True
3          True
4          True
           ...
5719872    True
5719873    True
5719874    True
5719875    True
5719876    True
Name: same_day, Length: 5719877, dtype: bool

# Extract the Q1 data

In [15]:
divvy_tripdata['started_at'] = pd.to_datetime(divvy_tripdata['started_at'], errors='coerce')
divvy_tripdata['ended_at'] = pd.to_datetime(divvy_tripdata['ended_at'], errors='coerce')

#divvy_tripdata_Q1 = divvy_tripdata[divvy_tripdata['started_at'].dt.month.isin([1, 2, 3])]
divvy_tripdata_Q1 = divvy_tripdata.loc[divvy_tripdata['started_at'].dt.month.isin([1, 2, 3])]

In [17]:
divvy_tripdata_Q1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_of_week
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,Saturday
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,Tuesday
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,Monday
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,Sunday
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639419,BA8B9D1D0AAF5F25,electric_bike,2023-03-08 00:00:02,2023-03-08 00:06:25,Rush St & Hubbard St,KA1503000044,Canal St & Adams St,13011,41.890202,-87.626232,41.879255,-87.639904,member,Wednesday
639420,841F8FE05B117E00,classic_bike,2023-03-21 14:24:42,2023-03-21 14:50:45,Sheridan Rd & Montrose Ave,TA1307000107,Sheridan Rd & Buena Ave,TA1309000027,41.961670,-87.654640,41.958494,-87.654966,member,Tuesday
639421,25892EF6A0949B97,electric_bike,2023-03-21 16:48:52,2023-03-21 16:51:27,Halsted St & Roscoe St,TA1309000025,Broadway & Waveland Ave,13325,41.943681,-87.648830,41.949074,-87.648636,member,Tuesday
639422,F6514CD31F2A9723,classic_bike,2023-03-16 20:36:05,2023-03-16 20:43:11,Sheridan Rd & Montrose Ave,TA1307000107,Broadway & Waveland Ave,13325,41.961670,-87.654640,41.949074,-87.648636,member,Thursday
639423,FEDA9EE828BC56BF,electric_bike,2023-03-27 19:58:08,2023-03-27 20:03:52,Clark St & Wellington Ave,TA1307000136,Broadway & Waveland Ave,13325,41.936490,-87.647581,41.949074,-87.648636,member,Monday

In [76]:
divvy_tripdata_Q1.to_csv("divvy_tripdata_Q1.csv", index=False)

# Extract the day of week

In [16]:
# Get day of the week from 'started_at'
divvy_tripdata_Q1['day_of_week'] = divvy_tripdata_Q1['started_at'].dt.day_name()

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1784220431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1['day_of_week'] = divvy_tripdata_Q1['started_at'].dt.day_name()

In [18]:
divvy_tripdata_Q1['day_of_week']

0          Saturday
1           Tuesday
2            Monday
3            Sunday
4          Thursday
            ...
639419    Wednesday
639420      Tuesday
639421      Tuesday
639422     Thursday
639423       Monday
Name: day_of_week, Length: 639424, dtype: object

In [12]:
a = divvy_tripdata_Q1['started_at'].dt.dayofweek

In [13]:
a

0         5
1         1
2         0
3         6
4         3
         ..
639419    2
639420    1
639421    1
639422    3
639423    0
Name: started_at, Length: 639424, dtype: int32

# Calculate duration

In [19]:
divvy_tripdata_Q1['duration'] = divvy_tripdata_Q1['ended_at'] - divvy_tripdata_Q1['started_at']

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1901621493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1['duration'] = divvy_tripdata_Q1['ended_at'] - divvy_tripdata_Q1['started_at']

# Calculate distance between start point and destination

In [20]:
import numpy as np

In [21]:
# Function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2.0) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  # Radius of Earth in kilometers
    return c * r

# Calculate distance and add it as a new column
divvy_tripdata_Q1['distance_km'] = divvy_tripdata_Q1.apply(lambda row: haversine(row['start_lat'], row['start_lng'], row['end_lat'], row['end_lng']), axis=1)

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\921738828.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1['distance_km'] = divvy_tripdata_Q1.apply(lambda row: haversine(row['start_lat'], row['start_lng'], row['end_lat'], row['end_lng']), axis=1)

In [22]:
divvy_tripdata_Q1['distance_km']

0         0.839042
1         1.204573
2         3.543683
3         1.204573
4         1.204573
            ...
639419    1.662178
639420    0.354182
639421    0.599901
639422    1.486003
639423    1.402040
Name: distance_km, Length: 639424, dtype: float64

In [78]:
divvy_tripdata_Q1[divvy_tripdata_Q1['distance_km'] == 0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_of_week,duration,distance_km,started_date,duration_seconds
39,C1D80BC2F7A0AF30,electric_bike,2023-01-19 19:17:46,2023-01-19 19:18:14,Hampden Ct & Diversey Ave,202480.0,Hampden Ct & Diversey Ave,202480.0,41.930000,-87.640000,41.930000,-87.640000,casual,Thursday,0 days 00:00:28,0.0,2023-01-19,28.0
40,B4ED20B291AB768F,electric_bike,2023-01-26 12:36:49,2023-01-26 12:37:37,Hampden Ct & Diversey Ave,202480.0,Hampden Ct & Diversey Ave,202480.0,41.930000,-87.640000,41.930000,-87.640000,member,Thursday,0 days 00:00:48,0.0,2023-01-26,48.0
56,D9012A259FE14AC9,classic_bike,2023-01-19 17:42:02,2023-01-19 17:42:06,Sacramento Blvd & Franklin Blvd,KA1504000113,Sacramento Blvd & Franklin Blvd,KA1504000113,41.890469,-87.702608,41.890469,-87.702608,member,Thursday,0 days 00:00:04,0.0,2023-01-19,4.0
57,BD8BFC9CDEA07766,electric_bike,2023-01-02 13:49:25,2023-01-02 13:49:41,Hampden Ct & Diversey Ave,202480.0,Hampden Ct & Diversey Ave,202480.0,41.930000,-87.640000,41.930000,-87.640000,casual,Monday,0 days 00:00:16,0.0,2023-01-02,16.0
58,6BB8F0DF56396D42,electric_bike,2023-01-17 07:48:48,2023-01-17 07:49:00,Pulaski Rd & 51st St,343,Pulaski Rd & 51st St,343,41.800000,-87.720000,41.800000,-87.720000,casual,Tuesday,0 days 00:00:12,0.0,2023-01-17,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639358,BCCDC067E58C0508,classic_bike,2023-03-03 20:40:48,2023-03-03 20:40:53,Sheridan Rd & Buena Ave,TA1309000027,Sheridan Rd & Buena Ave,TA1309000027,41.958494,-87.654966,41.958494,-87.654966,casual,Friday,0 days 00:00:05,0.0,2023-03-03,5.0
639359,B82678EF9879DB81,classic_bike,2023-03-20 18:35:52,2023-03-20 18:36:09,Indiana Ave & Roosevelt Rd,SL-005,Indiana Ave & Roosevelt Rd,SL-005,41.867888,-87.623041,41.867888,-87.623041,casual,Monday,0 days 00:00:17,0.0,2023-03-20,17.0
639382,88608D132A40D4AA,classic_bike,2023-03-29 08:16:39,2023-03-29 08:17:15,Humboldt Blvd & Armitage Ave,15651,Humboldt Blvd & Armitage Ave,15651,41.917513,-87.701809,41.917513,-87.701809,member,Wednesday,0 days 00:00:36,0.0,2023-03-29,36.0
639391,33709707E20C5B75,classic_bike,2023-03-02 19:32:55,2023-03-02 19:36:15,Sheridan Rd & Buena Ave,TA1309000027,Sheridan Rd & Buena Ave,TA1309000027,41.958494,-87.654966,41.958494,-87.654966,member,Thursday,0 days 00:03:20,0.0,2023-03-02,200.0
639395,47C1CC5A03C84B94,classic_bike,2023-03-01 11:29:39,2023-03-01 11:30:38,Broadway & Waveland Ave,13325,Broadway & Waveland Ave,13325,41.949074,-87.648636,41.949074,-87.648636,member,Wednesday,0 days 00:00:59,0.0,2023-03-01,59.0

# Data Inspection

In [83]:
# # Check if there are any null values in the 'rideable_type' column
has_null_rideable_type = divvy_tripdata_Q1['rideable_type'].isnull().any()
# Count the number of null values in the 'rideable_type' column
null_count_rideable_type = divvy_tripdata_Q1['rideable_type'].isnull().sum()

In [84]:
null_count_rideable_type

0

In [85]:
# Count the number of null values in the 'duration' column
null_count_duration = divvy_tripdata_Q1['duration'].isnull().sum()

# Count the number of null values in the 'distance_km' column
null_count_distance_km = divvy_tripdata_Q1['distance_km'].isnull().sum()

In [90]:
null_count_duration, null_count_distance_km

(0, 426)

In [92]:
divvy_tripdata_Q1[divvy_tripdata_Q1['distance_km'].isnull()].head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_of_week,duration,distance_km,started_date,duration_seconds
69506,1FB8FE3600279846,classic_bike,2023-01-01 04:45:39,2023-01-02 05:45:28,State St & Van Buren St,TA1305000035,NaN,NaN,41.877181,-87.627844,NaN,NaN,casual,Sunday,1 days 00:59:49,NaN,2023-01-01,89989.0
69523,08D63AE5147A8A12,docked_bike,2023-01-09 14:20:41,2023-01-15 04:19:09,Indiana Ave & Roosevelt Rd,SL-005,NaN,NaN,41.867888,-87.623041,NaN,NaN,casual,Monday,5 days 13:58:28,NaN,2023-01-09,482308.0
69531,BEEB2B851275BBEE,classic_bike,2023-01-30 13:24:22,2023-01-31 14:24:09,State St & 19th St,SL-013,NaN,NaN,41.856594,-87.627542,NaN,NaN,member,Monday,1 days 00:59:47,NaN,2023-01-30,89987.0
69952,758F82A4444D0DF3,classic_bike,2023-01-31 09:21:10,2023-02-01 10:21:02,Halsted St & Maxwell St,TA1309000001,NaN,NaN,41.864883,-87.647071,NaN,NaN,casual,Tuesday,1 days 00:59:52,NaN,2023-01-31,89992.0
70167,45125F6E88AD0535,docked_bike,2023-01-07 12:52:32,2023-01-08 06:47:21,New St & Illinois St,TA1306000013,NaN,NaN,41.890847,-87.618617,NaN,NaN,casual,Saturday,0 days 17:54:49,NaN,2023-01-07,64489.0

In [93]:
# delete all the null value
# Drop rows with null values
divvy_tripdata_Q1_cleaned = divvy_tripdata_Q1.dropna()

In [94]:
divvy_tripdata_Q1_cleaned.to_csv("divvy_tripdata_Q1_cleaned.csv", index=False)

# Calculate

### 每个day of week对应的日均出行次数

In [95]:
# Total count of ride_id
grouped_df_total_cnt = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['ride_id'].count().reset_index(name='cnt_ride')
# Average count of ride_id per day of week
divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
grouped_df_avg_cnt = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['started_date'].nunique().reset_index(name='cnt_date')

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\2793196947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')

In [96]:
grouped_df_cnt = pd.merge(grouped_df_total_cnt, grouped_df_avg_cnt, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])
# 平均每个day of week的日均出行次数
grouped_df_cnt['avg_ride'] = round(grouped_df_cnt['cnt_ride'] / grouped_df_cnt['cnt_date'], 2)

In [97]:
grouped_df_cnt

   day_of_week member_casual  rideable_type  cnt_ride  cnt_date  avg_ride
0       Friday        casual   classic_bike      5873        13    451.77
1       Friday        casual    docked_bike       789        13     60.69
2       Friday        casual  electric_bike      6879        13    529.15
3       Friday        member   classic_bike     31033        13   2387.15
4       Friday        member  electric_bike     20604        13   1584.92
5       Monday        casual   classic_bike      6203        13    477.15
6       Monday        casual    docked_bike       882        13     67.85
7       Monday        casual  electric_bike      7309        13    562.23
8       Monday        member   classic_bike     35368        13   2720.62
9       Monday        member  electric_bike     22230        13   1710.00
10    Saturday        casual   classic_bike      7020        12    585.00
11    Saturday        casual    docked_bike      1116        12     93.00
12    Saturday        casual  electric_bike      6857        12    571.42
13    Saturday        member   classic_bike     23375        12   1947.92
14    Saturday        member  electric_bike     13980        12   1165.00
15      Sunday        casual   classic_bike      8845        13    680.38
16      Sunday        casual    docked_bike      1592        13    122.46
17      Sunday        casual  electric_bike      8085        13    621.92
18      Sunday        member   classic_bike     26258        13   2019.85
19      Sunday        member  electric_bike     15079        13   1159.92
20    Thursday        casual   classic_bike      5849        13    449.92
21    Thursday        casual    docked_bike       620        13     47.69
22    Thursday        casual  electric_bike      7571        13    582.38
23    Thursday        member   classic_bike     35684        13   2744.92
24    Thursday        member  electric_bike     24862        13   1912.46
25     Tuesday        casual   classic_bike      7576        13    582.77
26     Tuesday        casual    docked_bike       878        13     67.54
27     Tuesday        casual  electric_bike      8744        13    672.62
28     Tuesday        member   classic_bike     44723        13   3440.23
29     Tuesday        member  electric_bike     27605        13   2123.46
30   Wednesday        casual   classic_bike      7320        13    563.08
31   Wednesday        casual    docked_bike       900        13     69.23
32   Wednesday        casual  electric_bike      8281        13    637.00
33   Wednesday        member   classic_bike     41737        13   3210.54
34   Wednesday        member  electric_bike     26564        13   2043.38

In [98]:
divvy_tripdata_Q1_cleaned['started_date']

0         2023-01-21
1         2023-01-10
2         2023-01-02
3         2023-01-22
4         2023-01-12
             ...
639419    2023-03-08
639420    2023-03-21
639421    2023-03-21
639422    2023-03-16
639423    2023-03-27
Name: started_date, Length: 498291, dtype: object

In [99]:
grouped_df_total_cnt

   day_of_week member_casual  rideable_type  cnt_ride
0       Friday        casual   classic_bike      5873
1       Friday        casual    docked_bike       789
2       Friday        casual  electric_bike      6879
3       Friday        member   classic_bike     31033
4       Friday        member  electric_bike     20604
5       Monday        casual   classic_bike      6203
6       Monday        casual    docked_bike       882
7       Monday        casual  electric_bike      7309
8       Monday        member   classic_bike     35368
9       Monday        member  electric_bike     22230
10    Saturday        casual   classic_bike      7020
11    Saturday        casual    docked_bike      1116
12    Saturday        casual  electric_bike      6857
13    Saturday        member   classic_bike     23375
14    Saturday        member  electric_bike     13980
15      Sunday        casual   classic_bike      8845
16      Sunday        casual    docked_bike      1592
17      Sunday        casual  electric_bike      8085
18      Sunday        member   classic_bike     26258
19      Sunday        member  electric_bike     15079
20    Thursday        casual   classic_bike      5849
21    Thursday        casual    docked_bike       620
22    Thursday        casual  electric_bike      7571
23    Thursday        member   classic_bike     35684
24    Thursday        member  electric_bike     24862
25     Tuesday        casual   classic_bike      7576
26     Tuesday        casual    docked_bike       878
27     Tuesday        casual  electric_bike      8744
28     Tuesday        member   classic_bike     44723
29     Tuesday        member  electric_bike     27605
30   Wednesday        casual   classic_bike      7320
31   Wednesday        casual    docked_bike       900
32   Wednesday        casual  electric_bike      8281
33   Wednesday        member   classic_bike     41737
34   Wednesday        member  electric_bike     26564

In [100]:
grouped_df_avg_cnt

   day_of_week member_casual  rideable_type  cnt_date
0       Friday        casual   classic_bike        13
1       Friday        casual    docked_bike        13
2       Friday        casual  electric_bike        13
3       Friday        member   classic_bike        13
4       Friday        member  electric_bike        13
5       Monday        casual   classic_bike        13
6       Monday        casual    docked_bike        13
7       Monday        casual  electric_bike        13
8       Monday        member   classic_bike        13
9       Monday        member  electric_bike        13
10    Saturday        casual   classic_bike        12
11    Saturday        casual    docked_bike        12
12    Saturday        casual  electric_bike        12
13    Saturday        member   classic_bike        12
14    Saturday        member  electric_bike        12
15      Sunday        casual   classic_bike        13
16      Sunday        casual    docked_bike        13
17      Sunday        casual  electric_bike        13
18      Sunday        member   classic_bike        13
19      Sunday        member  electric_bike        13
20    Thursday        casual   classic_bike        13
21    Thursday        casual    docked_bike        13
22    Thursday        casual  electric_bike        13
23    Thursday        member   classic_bike        13
24    Thursday        member  electric_bike        13
25     Tuesday        casual   classic_bike        13
26     Tuesday        casual    docked_bike        13
27     Tuesday        casual  electric_bike        13
28     Tuesday        member   classic_bike        13
29     Tuesday        member  electric_bike        13
30   Wednesday        casual   classic_bike        13
31   Wednesday        casual    docked_bike        13
32   Wednesday        casual  electric_bike        13
33   Wednesday        member   classic_bike        13
34   Wednesday        member  electric_bike        13

In [101]:
divvy_tripdata_Q1_cleaned.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,day_of_week,duration,distance_km,started_date,duration_seconds
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,Saturday,0 days 00:10:51,0.839042,2023-01-21,651.0
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,Tuesday,0 days 00:08:29,1.204573,2023-01-10,509.0
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,Monday,0 days 00:13:14,3.543683,2023-01-02,794.0
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,Sunday,0 days 00:08:46,1.204573,2023-01-22,526.0
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,Thursday,0 days 00:15:19,1.204573,2023-01-12,919.0

### 每个day of week对应的日均出行时间

In [102]:
# Ensure 'duration' column is in timedelta format
divvy_tripdata_Q1_cleaned['duration'] = pd.to_timedelta(divvy_tripdata_Q1_cleaned['duration'])

# Convert 'duration' to seconds
divvy_tripdata_Q1_cleaned['duration_seconds'] = divvy_tripdata_Q1_cleaned['duration'].dt.total_seconds()

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\2716457372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['duration'] = pd.to_timedelta(divvy_tripdata_Q1_cleaned['duration'])
C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\2716457372.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['duration_seconds'] = divvy_tripdata_Q1_cleaned['duration'].dt.total_seconds()

In [103]:
# Total time of ride
grouped_df_total_duration = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['duration_seconds'].sum().reset_index(name='total_duration')
# Average count of ride_id per day of week
divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
grouped_df_cnt_date = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['started_date'].nunique().reset_index(name='cnt_date')

grouped_df_duration = pd.merge(grouped_df_total_duration, grouped_df_cnt_date, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])
# 平均每个day of week的日均出行时间
grouped_df_duration['avg_duration'] = round(grouped_df_duration['total_duration'] / grouped_df_cnt['cnt_date'], 2)

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1766729698.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')

In [104]:
grouped_df_duration.head()

,day_of_week,member_casual,rideable_type,total_duration,cnt_date,avg_duration
0,Friday,casual,classic_bike,6117657.0,13,470589.00
1,Friday,casual,docked_bike,2021643.0,13,155511.00
2,Friday,casual,electric_bike,4206218.0,13,323555.23
3,Friday,member,classic_bike,19860272.0,13,1527713.23
4,Friday,member,electric_bike,10750965.0,13,826997.31

### 每个day of week对应的日均出行距离

In [105]:
# Total distance of ride
grouped_df_total_distance = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['distance_km'].sum().reset_index(name='total_distance')
# Average count of ride_id per day of week
divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
grouped_df_cnt_date = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['started_date'].nunique().reset_index(name='cnt_date')
# max distance
grouped_df_max_distance = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['distance_km'].max().reset_index(name='max_distance')
# min distance
grouped_df_min_distance = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual', 'rideable_type'])['distance_km'].min().reset_index(name='min_distance')



grouped_df_distance = pd.merge(grouped_df_total_distance, grouped_df_cnt_date, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])
grouped_df_distance = pd.merge(grouped_df_distance, grouped_df_max_distance, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])
grouped_df_distance = pd.merge(grouped_df_distance, grouped_df_min_distance, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])

# 平均每个day of week的日均出行时间
grouped_df_distance['avg_distance'] = round(grouped_df_distance['total_distance'] / grouped_df_cnt['cnt_date'], 2)

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\483268881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')

In [106]:
grouped_df_distance.head()

,day_of_week,member_casual,rideable_type,total_distance,cnt_date,max_distance,min_distance,avg_distance
0,Friday,casual,classic_bike,8731.542147,13,13.697778,0.0,671.66
1,Friday,casual,docked_bike,1370.903367,13,11.839268,0.0,105.45
2,Friday,casual,electric_bike,12021.668472,13,16.165253,0.0,924.74
3,Friday,member,classic_bike,47657.810065,13,14.255226,0.0,3665.99
4,Friday,member,electric_bike,37885.123585,13,16.043965,0.0,2914.24

# Combine

In [107]:
grouped_df_cnt.shape, grouped_df_duration.shape, grouped_df_distance.shape

((35, 6), (35, 6), (35, 8))

In [109]:
group_all = pd.merge(grouped_df_cnt, grouped_df_duration, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])
group_all = pd.merge(group_all, grouped_df_distance, how = 'left', on = ['day_of_week', 'member_casual', 'rideable_type'])

In [110]:
group_all.head

<bound method NDFrame.head of    day_of_week member_casual  rideable_type  cnt_ride  cnt_date_x  avg_ride  \
0       Friday        casual   classic_bike      5873          13    451.77
1       Friday        casual    docked_bike       789          13     60.69
2       Friday        casual  electric_bike      6879          13    529.15
3       Friday        member   classic_bike     31033          13   2387.15
4       Friday        member  electric_bike     20604          13   1584.92
5       Monday        casual   classic_bike      6203          13    477.15
6       Monday        casual    docked_bike       882          13     67.85
7       Monday        casual  electric_bike      7309          13    562.23
8       Monday        member   classic_bike     35368          13   2720.62
9       Monday        member  electric_bike     22230          13   1710.00
10    Saturday        casual   classic_bike      7020          12    585.00
11    Saturday        casual    docked_bike      1116          12     93.00
12    Saturday        casual  electric_bike      6857          12    571.42
13    Saturday        member   classic_bike     23375          12   1947.92
14    Saturday        member  electric_bike     13980          12   1165.00
15      Sunday        casual   classic_bike      8845          13    680.38
16      Sunday        casual    docked_bike      1592          13    122.46
17      Sunday        casual  electric_bike      8085          13    621.92
18      Sunday        member   classic_bike     26258          13   2019.85
19      Sunday        member  electric_bike     15079          13   1159.92
20    Thursday        casual   classic_bike      5849          13    449.92
21    Thursday        casual    docked_bike       620          13     47.69
22    Thursday        casual  electric_bike      7571          13    582.38
23    Thursday        member   classic_bike     35684          13   2744.92
24    Thursday        member  electric_bike     24862          13   1912.46
25     Tuesday        casual   classic_bike      7576          13    582.77
26     Tuesday        casual    docked_bike       878          13     67.54
27     Tuesday        casual  electric_bike      8744          13    672.62
28     Tuesday        member   classic_bike     44723          13   3440.23
29     Tuesday        member  electric_bike     27605          13   2123.46
30   Wednesday        casual   classic_bike      7320          13    563.08
31   Wednesday        casual    docked_bike       900          13     69.23
32   Wednesday        casual  electric_bike      8281          13    637.00
33   Wednesday        member   classic_bike     41737          13   3210.54
34   Wednesday        member  electric_bike     26564          13   2043.38

    total_duration  cnt_date_y  avg_duration  total_distance  cnt_date  \
0        6117657.0          13     470589.00     8731.542147        13
1        2021643.0          13     155511.00     1370.903367        13
2        4206218.0          13     323555.23    12021.668472        13
3       19860272.0          13    1527713.23    47657.810065        13
4       10750965.0          13     826997.31    37885.123585        13
5        7105844.0          13     546603.38     9736.339786        13
6        1991043.0          13     153157.15     1672.525712        13
7        4499471.0          13     346113.15    12947.446810        13
8       22783069.0          13    1752543.77    57940.522253        13
9       11394558.0          13     876504.46    42425.445126        13
10       9300699.0          12     775058.25    12033.139176        12
11       2642048.0          12     220170.67     1930.690294        12
12       4964418.0          12     413701.50    12596.427367        12
13      16845472.0          12    1403789.33    38955.733455        12
14       8089075.0          12     674089.58    27527.150229        12
15      12609852.0          13     969988.62    16351.149476        13
16       4298637.0          13     330664.38     3124.603853        13
17       6698117.0          13     515239.77    16204.585421        13
18      19432355.0          13    1494796.54    45593.357706        13
19       9122684.0          13     701744.92    30880.684348        13
20       6109490.0          13     469960.77     9210.048852        13
21       1403669.0          13     107974.54     1183.118573        13
22       4245743.0          13     326595.62    13192.484097        13
23      22214776.0          13    1708828.92    57901.474886        13
24      12736790.0          13     979753.08    47384.051434        13
25       8121116.0          13     624701.23    12404.991901        13
26       2251595.0          13     173199.62     1695.784498        13
27       5208485.0          13     400652.69    15693.822934        13
28      29103870.0          13    2238759.23    75737.861005        13
29      14463953.0          13    1112611.77    54825.292779        13
30       7385687.0          13     568129.77    11702.410981        13
31       2215159.0          13     170396.85     1708.304127        13
32       4740107.0          13     364623.62    14669.009562        13
33      27031789.0          13    2079368.38    70728.201029        13
34      14195687.0          13    1091975.92    53098.908443        13

    max_distance  min_distance  avg_distance
0      13.697778           0.0        671.66
1      11.839268           0.0        105.45
2      16.165253           0.0        924.74
3      14.255226           0.0       3665.99
4      16.043965           0.0       2914.24
5      22.603616           0.0        748.95
6      14.705682           0.0        128.66
7      16.650406           0.0        995.96
8      14.245705           0.0       4456.96
9      21.847658           0.0       3263.50
10     19.494934           0.0       1002.76
11     12.691860           0.0        160.89
12     17.185468           0.0       1049.70
13     15.256058           0.0       3246.31
14     19.282036           0.0       2293.93
15     22.805218           0.0       1257.78
16     15.340455           0.0        240.35
17     16.560463           0.0       1246.51
18     17.971642           0.0       3507.18
19     21.880141           0.0       2375.44
20     24.263369           0.0        708.47
21     15.862374           0.0         91.01
22     14.716052           0.0       1014.81
23     13.339600           0.0       4453.96
24     17.375861           0.0       3644.93
25     13.019609           0.0        954.23
26     10.594399           0.0        130.44
27     21.321425           0.0       1207.22
28     14.594859           0.0       5825.99
29     16.276322           0.0       4217.33
30     19.214619           0.0        900.19
31     12.586202           0.0        131.41
32     13.043121           0.0       1128.39
33     14.485727           0.0       5440.63
34     19.922986           0.0       4084.53  >

In [111]:
group_all.to_csv("group_all.csv")

In [113]:
# Total count of ride_id
grouped_df_total_cnt = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['ride_id'].count().reset_index(name='cnt_ride')
# Average count of ride_id per day of week
divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
grouped_df_avg_cnt = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['started_date'].nunique().reset_index(name='cnt_date')

grouped_df_cnt = pd.merge(grouped_df_total_cnt, grouped_df_avg_cnt, how = 'left', on = ['day_of_week', 'member_casual'])
# 平均每个day of week的日均出行次数
grouped_df_cnt['avg_ride'] = round(grouped_df_cnt['cnt_ride'] / grouped_df_cnt['cnt_date'], 2)


# Ensure 'duration' column is in timedelta format
divvy_tripdata_Q1_cleaned['duration'] = pd.to_timedelta(divvy_tripdata_Q1_cleaned['duration'])
# Convert 'duration' to seconds
divvy_tripdata_Q1_cleaned['duration_seconds'] = divvy_tripdata_Q1_cleaned['duration'].dt.total_seconds()

# Total time of ride
grouped_df_total_duration = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['duration_seconds'].sum().reset_index(name='total_duration')
# Average count of ride_id per day of week
divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
grouped_df_cnt_date = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['started_date'].nunique().reset_index(name='cnt_date')

grouped_df_duration = pd.merge(grouped_df_total_duration, grouped_df_cnt_date, how = 'left', on = ['day_of_week', 'member_casual'])
# 平均每个day of week的日均出行时间
grouped_df_duration['avg_duration'] = round(grouped_df_duration['total_duration'] / grouped_df_cnt['cnt_date'], 2)


# Total distance of ride
grouped_df_total_distance = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['distance_km'].sum().reset_index(name='total_distance')
# Average count of ride_id per day of week
divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
grouped_df_cnt_date = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['started_date'].nunique().reset_index(name='cnt_date')
# max distance
grouped_df_max_distance = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['distance_km'].max().reset_index(name='max_distance')
# min distance
grouped_df_min_distance = divvy_tripdata_Q1_cleaned.groupby(['day_of_week', 'member_casual'])['distance_km'].min().reset_index(name='min_distance')



grouped_df_distance = pd.merge(grouped_df_total_distance, grouped_df_cnt_date, how = 'left', on = ['day_of_week', 'member_casual'])
grouped_df_distance = pd.merge(grouped_df_distance, grouped_df_max_distance, how = 'left', on = ['day_of_week', 'member_casual'])
grouped_df_distance = pd.merge(grouped_df_distance, grouped_df_min_distance, how = 'left', on = ['day_of_week', 'member_casual'])

# 平均每个day of week的日均出行时间
grouped_df_distance['avg_distance'] = round(grouped_df_distance['total_distance'] / grouped_df_cnt['cnt_date'], 2)

C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1701882870.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1701882870.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['duration'] = pd.to_timedelta(divvy_tripdata_Q1_cleaned['duration'])
C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1701882870.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['duration_seconds'] = divvy_tripdata_Q1_cleaned['duration'].dt.total_seconds()
C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1701882870.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')
C:\Users\jingj\AppData\Local\Temp\ipykernel_19320\1701882870.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  divvy_tripdata_Q1_cleaned['started_date'] = pd.to_datetime(divvy_tripdata['started_at']).dt.strftime('%Y-%m-%d')

In [114]:
group_all_1 = pd.merge(grouped_df_cnt, grouped_df_duration, how = 'left', on = ['day_of_week', 'member_casual'])
group_all_1 = pd.merge(group_all_1, grouped_df_distance, how = 'left', on = ['day_of_week', 'member_casual'])

In [116]:
group_all_1.to_csv("group_all_1.csv")